#button_account  {
    max-width: 100%;
    width: 100px;
    margin-left: 100px;
}

#main_menu{
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    justify-items: flex-start;
    
}

#button_start_game, #button_rules {
    margin: 5px;
}