#input_login, #input_password{
    max-width: 100%;
    width: 200px;
    font-size: 20px;
}
#filter {
    margin-bottom: 20px;
}
#button_login {
    font-size: 20px;
}

#button_start_game, #button_rules {
    margin: 5px;
}