<app-header></app-header>
<app-content>
    <form [formGroup]="signUpForm" (submit)="signUp">
        <input id="input_username" formControlName="username" placeholder="Username" type="text">
        <div class="div_validate" *ngIf="signUpForm.controls['username'].getError('invalid')">Username is required</div>
        <div class="div_validate" *ngIf="signUpForm.controls['username'].getError('minlength')">Username must be at least 3 characters long</div>

        <input id="input_password" formControlName="password" placeholder="Password" type="password">
        <div class="div_validate" *ngIf="signUpForm.controls['password'].getError('invalid')">Password is required</div>
        <div class="div_validate" *ngIf="signUpForm.controls['password'].getError('minlength')">Password must be at least 6 characters long</div>

        <button id="button_register" (click)="signUp()" [disabled]="!signUpForm.valid">REGISTER</button>
    </form>

    <div id="register_tip">Already have an account?</div>
    <button id="button_to_login" (click)="navigateToLogin()">LOGIN</button>
</app-content>