form {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
}

#input_username, #input_password{
    max-width: 100%;
    width: 200px;
    font-size: 20px;
    margin-bottom: 10px;
}

.div_validate {
    margin-bottom: 20px;
}

#button_login, #button_to_login {
    font-size: 20px;
}

#register_tip {
    margin-top: 30px;
}
