#input_login, #input_password{
    max-width: 100%;
    width: 200px;
    font-size: 20px;
}
#filter {
    margin-bottom: 20px;
}
#button_login, #button_to_register {
    font-size: 20px;
    margin-bottom: 10px;
}
