<app-header></app-header>
<app-content>
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <input id="input_username" formControlName="username" placeholder="Username" type="text">
        <div class="div_validate" *ngIf="signInForm.controls['username'].getError('invalid')">Username is required</div>
        <div class="div_validate" *ngIf="signInForm.controls['username'].getError('minlength')">Username must be at least 3 characters long</div>

        <input id="input_password" formControlName="password" placeholder="Password" type="password">
        <div class="div_validate" *ngIf="signInForm.controls['password'].getError('invalid')">Password is required</div>
        <div class="div_validate" *ngIf="signInForm.controls['password'].getError('minlength')">Password must be at least 6 characters long</div>

        <button id="button_login" type="submit" [disabled]="!signInForm.valid">LOGIN</button>
    </form>

    <div id="register_tip">U dont have an account?</div>
    <button id="button_to_register" (click)="navigateToRegister()">REGISTER</button>
</app-content>


  
